/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0; border:0;}
a,a:visited{text-decoration:none;}
a:hover{cursor: pointer;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
@font-face {
	font-family: "Foxy";
	src: url("../fonts/Foxy.ttf");
}
header {
	max-width: 100%;
	overflow-x: hidden;
}
body {
	background-color: rgb(250, 235, 216);
	font-family: "Foxy";
	box-sizing: border-box;
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
}
.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 5px;
	min-height: 100%;
	overflow: hidden;
}
@media(max-width: 1099px) {
	.wrapper {
		max-width: 758px;
	}
}
@media(max-width: 767px) {
	.wrapper {
		max-width: 500px;
	}
}
@media(max-width: 425px) {
	.wrapper {
		max-width: 320px;
	}
}
.header__title {
	padding: 30px 0 20px 0;
	font-size: 52px;
	text-align: center;
	transform: translate(0, -90%);
}
.header__title._active {
	transform: translate(0, 0);
	transition: all 0.7s cubic-bezier(.2,1,.1,-0.5) 0s;
}
@media(max-width: 1099px) {
	.header__title {
		padding: 15px 0 10px 0;
		font-size: 48px;
	}
}
@media(max-width: 767px) {
	.header__title {
		padding: 10px 0 5px 0;
		font-size: 38px;
	}
}
@media(max-width: 425px) {
	.header__title {
		font-size: 34px;
	}
}
.owl-carousel {
	padding: 50px 0 0 0;
	margin: 0 auto;
	overflow-x: hidden;
}
.introduction {
	display: flex;
	justify-content: space-around;
}
.logo {
	width: 300px;
}
.introduction__left {
	transform: translate(-80%, 0);
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 1s cubic-bezier(.22,.81,.01,.99) 0.3s;
}
.introduction__left._active {
	transform: translate(0, 0);
	opacity: 1;
}
.introduction__title {
	font-size: 42px;
	padding: 0 0 10px 0;
	display: flex;
	justify-content: center;
}
.introduction__text {
	font-size: 24px;
	width: 500px;
}
.introduction__right {
	transform: translate(80%, 0);
	opacity: 0;
	transition: all 1s cubic-bezier(.22,.81,.01,.99) 0.2s;
}
.introduction__right._active {
	transform: translate(0, 0);
	opacity: 1;
}
@media(max-width: 1099px) {
	.logo {
		width: 250px;
	}
	.introduction__title {
		font-size: 32px;
	}
	.introduction__text {
		font-size: 20px;
		width: 400px;
	}
}
@media(max-width: 767px) {
	.introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo {
		padding: 10px 0 0 0;
	}
	.introduction__title {
		font-size: 28px;
	}
	.introduction__text {
		font-size: 18px;
	}
	.owl-carousel {
		padding: 40px 0 0 0;
	}
}
@media(max-width: 425px) {
	.logo {
		width: 200px;
	}
	.introduction__title {
		font-size: 23px;
	}
	.introduction__text {
		font-size: 18px;
		width: 300px;
	}
	.owl-carousel {
		padding: 30px 0 0 0;
	}
}
.information {
	padding: 0 0 20px 0;
	overflow-x: hidden;
}
.information__title {
	text-align: center;
	font-size: 42px;
	padding: 20px 0 10px 0;
	transform: translateY(-90%);
	transition: all 0.5s cubic-bezier(.2,1,.1,-0.5) 0.3s;
}
.information__title._active {
	opacity: 1;
	transform: translate(0, 0);
}
.information__text {
	overflow-x: hidden;
	font-size: 24px;
	line-height: 1.5;
}
.par1, .par3 {
	opacity: 0;
	transform: translateX(80%);
	transition: all 1s cubic-bezier(.22,.81,.01,.99) 0.3s;
}
.par1._active, .par3._active {
	opacity: 1;
	transform: translateX(0);
}
.par2 {
	opacity: 0;
	transform: translateX(-80%);
	transition: all 1s cubic-bezier(.22,.81,.01,.99) 0.3s;
}
.par2._active {
	opacity: 1;
	transform: translateX(0);
}
.information__text span {
	display: inline-block;
	color: brown;
	font-size: 30px;
	padding: 10px 0 0 0;
}
@media(max-width: 1099px) {
	.information__title {
		font-size: 38px;
	}
	.information__text {
		font-size: 20px;
	}
	.information__text span {
		font-size: 26px;
	}
}
@media(max-width: 767px) {
	.information__title {
		font-size: 34px;
		padding: 10px 0 0 0;
	}
	.information__text {
		font-size: 18px;
	}
	.information__text span {
		font-size: 26px;
	}
}
@media(max-width: 425px) {
	.information__title {
		font-size: 27px;
	}
	.information__text {
		font-size: 18px;
	}
	.information__text span {
		font-size: 24px;
	}
	.information__text span {
		padding: 5px 0 0 0;
	}
	.information {
		padding: 0 0 10px 0;
	}
}
